#include<windows.h>
#include "DataEntryDialog.h"

DataCaptureIcon ICON DataCaptureIcon.ico

DATAENTRY DIALOG DISCARDABLE 0, 0, 600, 300
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "Data Capture"

BEGIN
	LTEXT "Name", -1, 150, 30, 30, 10
	EDITTEXT ID_ETNAME, 240, 30, 200, 10, WS_TABSTOP
	LTEXT "", ID_TNAMEVALIDATOR, 240, 43, 500, 10

	LTEXT "Birthdate", -1, 150, 65, 30, 10
	EDITTEXT ID_ETBIRTHDAY, 240, 65, 20, 10, WS_TABSTOP
	EDITTEXT ID_ETBIRTHMONTH, 270, 65, 20, 10, WS_TABSTOP
	EDITTEXT ID_ETBIRTHYEAR, 300, 65, 40, 10, WS_TABSTOP
	LTEXT "", ID_TBIRTHDATEVALIDATOR, 240, 78, 500, 10

	LTEXT "Education", -1, 150, 100, 32, 10
	EDITTEXT ID_ETEDUCATION, 240, 100, 200, 10, WS_TABSTOP
	LTEXT "", ID_TEDUCATIONVALIDATOR, 240, 113, 500, 10

	LTEXT "Company", -1, 150, 135, 32, 10
	EDITTEXT ID_ETCOMPANY, 240, 135, 200, 10, WS_TABSTOP
	LTEXT "", ID_TCOMPANYVALIDATOR, 240, 148, 500, 10

	PUSHBUTTON "Win32", ID_BTNWIN32, 100, 190, 60, 15
	PUSHBUTTON "Class Factory", ID_BTNCLASSFACTORY, 170, 190, 60, 15
	PUSHBUTTON "Containment", ID_BTNCONTAINMENT, 240, 190, 60, 15
	PUSHBUTTON "Aggregation", ID_BTNAGGREGATION, 310, 190, 60, 15
	PUSHBUTTON "Automation", ID_BTNAUTOMATION, 380, 190, 60, 15
	PUSHBUTTON "DotNet Interop", ID_BTNDOTNET, 450, 190, 60, 15
END
